:root {
  --color-primary: 237, 125, 49;
  --color-primary-light: 251, 229, 214;
  --color-secondary: 68, 114, 196;
  --color-secondary-light: 218, 227, 243;
  --color-gray: 176, 176, 176;
  --color-lightgray: 228, 228, 228;
}
